spring:
  application:
    name: taskmanager
  datasource:
    url: jdbc:h2:file:./data/tasksdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
server:
  error:
    include-message: always
security:
  static-token: security-token